body {
    background-color: rgb(200,200,255);
    text-align: center;
    /* padding: 30px; */
  }
  
  .AmbiSource {
      display: inline-block;
      align-items: center;
      justify-content: center;
      background-color: rgb(154, 227, 188);
      font-family: "Helvetica", sans-serif;
      border-style: solid;
      text-align: center;
      width: 30%;
      height: 210px;
      margin: auto;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
    }

    .slidecontainer {
      float: left;
      display: inline;
      /* height: 210px; */
      /* line-height: 210px; */
      /* vertical-align: middle; */
      width: 250px;
      border-style: dashed;
      /* margin-right: 50px; */
      padding: 20px;
    }

  .radar {
    display: inline-block;
    border-style: dashed;
    width: 210px;
    height: 210px;
    
    /* padding: 50px; */
  }