body {
    background-color: rgb(200,200,255);
    text-align: center;
  }
  
  .AmbiSource {
      display: inline-flex;
      background-color: rgb(154, 227, 188);
      font-family: "Helvetica", sans-serif;
      border-style: solid;
      align-items: center;
      height: 230px;
    }

  .radar {
    width: 210px;
    height: 210px;
    vertical-align: middle;
  }

  input[type=range] {
    appearance: auto;
    -webkit-appearance : slider-vertical;
    display: inline-block;
    align-self: center;
    width: 20px;
  }

  label {
    text-align: center;
    width: 50px;
  }

  select {
    vertical-align: middle;
    /* margin-bottom: 10px; */
  }

  td {
    vertical-align: middle;
    /* border: 1px solid black; */
    padding-inline: 5px;
  }

  table {
    display: inline-table;
    /* border-spacing: 2px; */
  }